@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
/* font variables */
:root{
    --roboto: 'Roboto', sans-serif;
    --monosapce: 'Roboto Mono', monospace;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

