@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto&family=Roboto+Mono&display=swap');/* font variables */
:root{
    --signature:'Mr Dafoe', cursive;
    --roboto: 'Roboto', sans-serif;
    --monosapce: 'Roboto Mono', monospace;
}
:root{
    --large-card-width:calc(85px*8);
    --large-card-height:calc(53px*8);
    --small-card-width:calc(85px*4);
    --small-card-height:calc(53px*4);
}
/* general style reset */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--roboto);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url('./assets/images/fancy-pants.jpg');
    background-color: #303030;
opacity: 1;
background-color: #161616;
background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
background-size: 10px 18px;
background-position: 0 0, 0 0, 5px 9px, 5px 9px, 0 0, 5px 9px;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 200px;
    width: 100vw;
    height: 100vh;
}
.Tilte{
    height: 250px;
    width: 250px;
}
/* card */
.card {
    width: var(--large-card-width);
    height: var(--large-card-height);
    /* margin: -150px; */
    float: none;
    perspective: 1000px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
    
}
.flipped .content{
    transform: rotateY( 180deg ) ;
    transition: transform 2s;
}
.front,
.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 60px;
    border-radius: 20px;
    cursor: pointer;
    backface-visibility: hidden;
    border: 1px solid rgba(190, 251, 255, 1);
    box-shadow: 5px 5px 100px rgba(190, 251, 255, 0.544);
}
.front{
    overflow: hidden;
    background-color: rgba(201, 201, 201, 0.026);
}
.imageOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.imageOverlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.back {
    display: block;
    overflow: hidden;
    color: white;
    transform: rotateY( 180deg );
    background-color: rgba(201, 201, 201, 0.626);
    background: #303030;
    background-color:rgb(0, 58, 76) ;
    background-color: #0d293a;
}
  /* inner front card */
.logoContainer{
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translateX(50%);
    width: 80px;
}   
.logoContainer img{
    width: 100%;
}
.chipContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 32%;
    padding: 0 20px 0 60px;
    /* top: 35%;
    left: 10%; */
    width: 100%;
    height: 80px;
}
.chipContainer img{
    height: 100%;
}
.cardNumber{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
    padding-left: 20px;
}
.digits{
    color: rgba(255, 255, 255, 0.927);
    font-size: 2.5rem;
    margin-right: 20px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    font-family: var(--monosapce);
}
.visaIconContainer{
    position: absolute;
    bottom: -40px;
    right: 20px;
}
.visaIcon{
    color: white;
    font-size: 7rem;
}
.contactlessIcon{
    color: rgb(162, 228, 248);
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
/* validation */
.validContainer{
    display: flex;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
}
.validLeft{
    position: relative;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
}
.validRight{
    display: flex;
    align-items: flex-end;
}
.triangleIcon{
    position: absolute;
    bottom: 0px;
    right: -18px;
    font-size: 1.1rem;
}
.validLeft small{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.validationDigits,.nameDigits{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.nameContainer{
    width: 100%;
    padding-left: 40px;
}
/* inner back card */
.magneticStrip{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
}
.signatureContainer{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
}
.signature{
    display: flex;
    align-items: center;
    font-size:2.8rem ;
    font-family: var(--signature);
    color: black;
    background-color: #eee;
    height: 100%;
    width: 60%;
    padding-left: 40px;
}
.cvv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    height: 80%;
    width: 70px;
    margin-left: 3px;
    color: black;
    font-size: 1.4rem;
    font-style: italic;
}
.backText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.backText h3{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.backText p{
    width: 50%;
    font-size: 1rem;
}
@media(max-width:700px){
/* card */
.card {
    float: none;
    margin: auto;
    width: var(--small-card-width);
    height: var(--small-card-height);
}
/* innner front card */
.logoContainer{
    width: 40px;
}  
.chipContainer{
    padding: 0 10px 0 30px;
    height: 40px;
} 
.contactlessIcon{
    font-size: 30px;
}
.cardNumber{
    margin-top: 90px;
    padding-left: 10px;
}
.digits{
    font-size: 1.25rem;
    margin-right: 10px;
    letter-spacing: 2.5px;
}
.visaIconContainer{
    bottom: -20px;
    right: 10px;
}
.visaIcon{
    font-size: 3.5rem;
}
.validContainer{
    margin: 10px 0;
}
.validLeft{
    margin-right: 10px;
}
.triangleIcon{
    right: -9px;
    font-size: 0.55rem;
}
.validLeft small{
    font-size: 0.5rem;
}
.validationDigits,.nameDigits{
    font-size: 0.75rem;
}
.nameContainer{
    padding-left: 20px;
}
/* innner back card */
.magneticStrip{
    height: 25px;
    margin-top: 15px;
}
.signatureContainer{
    height: 25px;
    margin-top: 25px;
    margin-left: 10px;
}
.signature{
    font-size:1.4rem ;
    width: 60%;
    padding-left: 20px;
}
.cvv{
    height: 80%;
    width: 35px;
    margin-left: 1.5px;
    font-size: 0.7rem;
}
.backText{
    margin-top: 25px;
}
.backText h3{
    font-size: 0.55rem;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.backText p{
    font-size: 0.5rem;
}
}